
<div :class="Calculator">
    <div :class="Display">{{state.displayValue}}</div>
    <button :class="Button triple" @click="clearMemory()">AC</button>
    <button :class="Button operation" @click="setOperation($element.innerHTML)" :class>/</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">7</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">8</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">9</button>
    <button :class="Button operation" @click="setOperation($element.innerHTML)">*</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">4</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">5</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">6</button>
    <button :class="Button operation" @click="setOperation($element.innerHTML)">-</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">1</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">2</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">3</button>
    <button :class="Button operation" @click="setOperation($element.innerHTML)">+</button>
    <button :class="Button double" @click="addDigit($element.innerHTML)">0</button>
    <button :class="Button" @click="addDigit($element.innerHTML)">.</button>
    <button :class="Button operation" @click="setOperation($element.innerHTML)">=</button>
</div>